/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-border-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
    margin: auto 0;
}

h3 {
    font-size: 18px;
    margin: auto 0;
}

h4 {
    font-size: 18px;
    margin: auto 0;
}

/***** header/nav *****/
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 30px 0;
}

.logo img {
    max-height: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 244px;
}

.menu-btn p {
    text-align: center;
}

.menu-btn {
    border-top: 2px transparent solid;
}

.menu-btn:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}

/***** Main Content *****/
.bar {
    display: flex;
    margin: 35px 0;
}

.bar * {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/***** search *****/
.search {
    justify-content: space-between;
    width: 380px;
    height: 50px;
    border-radius: 15px;
    border: 1px var(--main-bg-color) solid;
}

.search-pin {
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    border-collapse: collapse;
    min-width: 50px;
}

.search-pin i {
    color: black;
    font-size: 22px;
    margin-top: 14px;
}

.search-form {
    border: none;
    width: 195px;
}

.search-form:focus {
    outline: none;
}

.search-btn {
    background-color: var(--main-color);
    border: 1px var(--main-color) solid;
    border-radius: 0 15px 15px 0;
    width: 135px;
}

.search-btn i {
    display: none;
    font-size: 22px;
}    

.search-btn * {
    color: white;
    margin: 13px 0;
}

/***** filters *****/
.filter-title {
    padding-right: 10px;
}

.filter-btn {
    display: flex;
    justify-content: space-between;
}

.filter .btn {
    border: 2px var(--main-border-color) solid;
    border-radius: 27px;
    display: flex;
    height: 50px;  
    margin-right: 15px;
}

.filter .btn i {
    font-size: 22px;
    margin: auto 10px auto 20px;
}

.filter .btn p{
    margin: auto 20px auto 0;
    white-space: nowrap;
}

.filter .btn:hover {
    background-color: var(--filter-bg-color);
}

/***** city info *****/
.info {
    display: flex;
    height: auto;
    margin-bottom: 35px;
}

.info p {
    margin: auto 0;
}

.info .icon {
    height: 24px;
    min-width: 24px;
    border: 1px var(--main-border-color) solid;
    border-radius: 13px;
    margin-right: 10px;
    text-align: center;
}

.info i {
    font-size: 10px;
}

/***** cards *****/
.card {
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.05));
}

.card img {
    object-fit: cover;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***** accommodations And populars *****/
.accommodations-and-populars {
    display: flex;
    justify-content: space-between;
}

.accommodations, .populars {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/***** accommodations *****/
.accommodations {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.accommodations-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accommodation-card {
    width: 31%;
    height: 210px;
}

.accommodations img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.accommodations-cards .card-content {
    height: 45%;
}

.accommodations-cards .card-title {
    margin-top: 0;
    margin-bottom: 4px;
}

.accommodations-cards .card-rating {
    margin-bottom: 10px;
}

.showMore {
    margin-top: 30px;
}

/***** populars *****/
.populars {
    width: 32%;
}

.populars-title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populars-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-card {
    display: flex;
}

.popular-card img {
    width: 33%;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-card .card-content {
    width: 67%;
}

.popular-card .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-card .card-rating {
    margin-bottom: 5px;
}

/***** Activities *****/
.activities {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
}

.activity-card {
    width: 23%;
    height: 380px;
    padding: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.activity-card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities .card-content {
    height: 20%;
}

.activities .card-title {
    margin: auto 0;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

footer div {
    width: 30%;
    margin: 20px;
}

                                /****** Media queries ***********/
@media (max-width: 1024px) { /* Medium devices (tablets, less/equal than 1024px) */

    body {
        padding: 0 20px; /* don't forget mobile's properties */
    }

    .activities, footer, .accommodations-and-populars {
        margin: auto -20px;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter .btn {
        margin-top: 20px;
    }

    .filter .btn p{
        font-size: 16px;
    }

    .accommodations-and-populars {
        flex-direction: column;
    }

    .accommodations {
        width: 100%;
    }

    .populars {
        width: 100%;
        margin-top: 50px;
    }

    .populars-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-card {
        width: 30%;
    }

    .populars-cards .card-title {
        font-size: 14px;
    }

    .populars-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-card {
        height: 280px;
    }

    .activities img {
        height: 200px;
    }
}

                                /****** Media queries ***********/
@media not (min-width: 768px){ /* Small devices (phones, less than 768px) */

    header {
        flex-direction: column;
        align-items: center;
        margin: 0 -20px;
    }
    
    .activities {
        margin: auto -10px;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
    }

    .menu-btn ,.menu-btn:hover {
        border: none;
        border-bottom: transparent 2px solid;
        width: 50%;
    }

    .menu-btn:hover {
        border-bottom: #0065FC 2px solid;
    }

    .search {
        width: 100%;
    }

    .search-form {
        width: 80%;
    }

    .search-btn {
        width: 50px;
        min-width: 50px;
        border-radius: 15px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
    }

    .search-btn p {
        display: none;
    }    

    .search-btn i {
        display: block;
    }    
    
    .filter-btn {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter .btn {
        width: 42%;
        min-width: 130px;
        margin-right: 0;
    }

    .filter .btn *{
        flex-shrink: 1;
    }

    .filter .btn i{
        margin-left: 6%;
    }

    .filter .btn p{
        font-size: 14px;
    }

    .accommodations-and-populars {
        flex-direction: column-reverse;
    }

    .populars, .accommodations, .activities {
        padding: 30px 20px;
    }

    .populars {
        margin-top: 0px;
        border-radius: 0;
    }

    .accommodations {
        background-color: white;
    }

    .accommodations-cards, .activity-cards, .populars-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 98%;
    }

    .popular-card {
        height: 146px;
    }

    .accommodation-card, .activity-card {
        height: 208px;
    }

    .activity-card img {
        height: 150px;
    }


    .accommodation-card img[src*="fred-kleber"] {
        object-position: 50% 75%;
    }
    
    .accommodation-card img[src*="febrian-zakaria"] {
        object-position: 50% 60%;
    }

    .accommodation-card img[src*="annie-spratt"] {
        object-position: 50% 65%;
    }

    .accommodation-card img[src*="marcus-loke"] {
        object-position: 50% 70%;
    }

    .accommodation-card img[src*="nicate-lee"] {
        object-position: 50% 100%;
    }

    .activity-card img[src*="florian-wehde"] {
        object-position: 50% 10%;
    }

    footer {
        flex-direction: column;
    }
    
    footer div {
        width:100%;
        margin: 30px;
    }
}