/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/* !!! centrer icones verticalement*/
.fa-solid {
    color: var(--main-color);
}

/*  !!! flex utile ici?*/
body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    padding: 30px 0px;
}

.logo img{
    max-height: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 244px;
    padding: 30px 0px;
}
/* !!! hauteur à revoir */
.menu-btn p{
    text-align: center;
}

.menu-btn:hover{
    border-top: 2px var(--main-color) solid;
    margin-top: -2px;
    color: var(--main-color);
}

.headline h1{
    font-size: 24px;
}

.bar{
    display: flex;
    height: 50px;
    padding: 30px 0;
}

.bar *{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
/* !!! voir filter btn pour hauteur */
.search{
    justify-content: space-between;
    width: 377px;
}

/* !!! revoir border-collapse si plus élégant? */
.search-pin{
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    border-collapse: collapse;
    width: 50px;
}

/* !!! moyen de ne pas avoir à utiliser height?*/
.search-form{
    height: 100%;
    border: 1px var(--main-bg-color) solid;
    border-collapse: collapse;
    height: 46px;
}

.search-form:focus{
    outline: none;
}

.search-btn{
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    border-collapse: collapse;
    width: 132px;
}

.search-btn p{
    color: white;
}

/* !!!écart entre "filtre" et boutons */
.filter .btn{
    border: 2px var(--main-color) solid;
    border-radius: 25px;
    display: flex;
    height: 50px;  
    padding: 0px 10px;
    margin: auto 10px;
}

.filter .btn *{
    margin: auto 10px;
}

.filter .btn:hover{
    background-color: var(--filter-bg-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}


/* Small devices (phones, less than 768px) */

@media not (min-width: 768px){

    /* !!! à enlever lors de l'étape responsive */
    body{
        background-color: red; 
    }
}