/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-border-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

/* !!! centrer icones verticalement*/
.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 16px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 22px;
    margin: auto 0;
}

h3{
    font-size: 18px;
    margin: auto 0;
}

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 30px 0px;
}

.logo img{
    max-height: 20px;
}

.bar{
    display: flex;
    margin: 35px 0;
}

.bar *{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 244px;
}

.menu-btn p{
    text-align: center;
}

.menu-btn{
    border-top: 2px transparent solid;
}

.menu-btn:hover{
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}


.search{
    justify-content: space-between;
    width: 380px;
    height: 50px;
    border-radius: 15px;
    border: 1px var(--main-bg-color) solid;
}

.search-pin{
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    border-collapse: collapse;
    width: 50px;
}
/* moyen de le mettre au milieu différemment? */
.search-pin i{
    color: black;
    font-size: 22px;
    margin-top: 14px;
}

.search-form{
    border: none;
    width: 195px;
}

.search-form:focus{
    outline: none;
}

.search-btn{
    background-color: var(--main-color);
    border: 1px var(--main-color) solid;
    border-radius: 0px 15px 15px 0px;
    width: 135px;
}

.search-btn i{
    display: none;
    font-size: 22px;
}    

.search-btn *{
    color: white;
    margin: 13px 0px;
}

.filter-title{
    padding-right: 10px;
}

.filter-btn{
    width: 728px;
    display: flex;
    justify-content: space-between;
}

.filter .btn{
    border: 2px var(--main-border-color) solid;
    border-radius: 27px;
    display: flex;
    height: 50px;  
    padding: 0 10px;
}

.filter .btn i{
    font-size: 22px;
}

.filter .btn *{
    margin: auto 10px;
}

.filter .btn:hover{
    background-color: var(--filter-bg-color);
}

.info{
    display: flex;
    height: auto;
    margin-bottom: 35px;
}

.info p{
    margin: auto 0;
}

.info .icon{
    height: 24px;
    min-width: 24px;
    border: 1px var(--main-border-color) solid;
    border-radius: 12px;
    margin-right: 10px;
    text-align: center;
}

.info i{
    font-size: 10px;
}


.card{
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.05));
}

.card img{
    object-fit: cover;
}

.card p{
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements, .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accommodation-card {
    width: 31%;
    height: 210px;
}

.hebergements img {
    width: 100%;
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-content {
    height: 45%;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
}


.showMore{
    margin-top: 30px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-card {
    display: flex;
}

.popular-card img {
    width: 33%;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-card .card-content {
    width: 67%;
}

.popular-card .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
}

.popular-card .card-rating {
    margin-bottom: 5px;
}

/* Activities */

.activities{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activity-cards{
    display: flex;
    justify-content: space-between;
}

.activity-card{
    width: 23%;
    height: 380px;
    padding: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}

.activity-card:hover{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities img{
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* !!! alignement vertical */
.activities .card-content{
    height: 20%;
}

.activities .card-title{
    margin: auto 0;
}

footer{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

footer div{
    width: 30%;
    margin: 20px;
}

/* ::: filtre retour à la ligne
    populaire en dessous de hebergement OK
    !!! vérifier populaires
    image et carte d'activitées réduits en hauteurs OK
    bord de la maquette 0px
    */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body{
        padding: 0 20px;
    }

    .filter{
        flex-direction: column;
        align-items: flex-start;
    }
    .filter .btn{
        margin-top: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        margin: auto -20px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities{
        margin: auto -20px;
    }

    .activity-card{
        height: 280px;
    }
    
    .activities img{
        height: 200px;
    }

    footer{
        margin: auto -20px;
    }

}


/* Small devices (phones, less than 768px) */

@media not (min-width: 768px){


    header{
        flex-direction: column;
        align-items: center;
        margin: 0 -20px;
    }

    .menu{
        width: 100%;
        justify-content: space-around;
    }

    .menu-btn ,.menu-btn:hover{
        border: none;
        border-bottom: transparent 2px solid;
        width: 50%;
    }

    .menu-btn:hover{
        border-bottom: #0065FC 2px solid;
    }

    .search{
        width: 100%;
    }

    .search-form{
        width: 80%;
    }

    .search-btn{
        width: 50px;
        border-radius: 15px;
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
    }

    .search-btn p{
        display: none;
    }    

    .search-btn i{
        display: block;
    }    
    
    .filter-btn{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter .btn{
        width: 42%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires, .hebergements, .activities{
        padding: 30px 20px;
    }

    .populaires{
        border-radius: 0px;
    }

    .hebergements{
        background-color: white;
    }

    .hebergements-cards, .activity-cards, .populaires-cards{
        flex-direction: column;
        align-items: center;
    }

    .popular-card{
        height: 146px;
    }

    .accommodation-card, .activity-card{
        height: 208px;
    }

    .card {
        width: 98%;
    }

    .activities{
        margin: auto -10px;
    }

    .activity-card img{
        height: 150px;
    }

    .activity-card img[src*="florian-wehde"]{
        object-position: 50% 10%;
    }

    footer{
        flex-direction: column;
    }
    
    footer div{
        width:100%;
        margin: 30px;
    }

}